@model LoginViewModel
@{
    Layout = "_Layout_Auth";
    ViewData["Title"] = "Login";
}

<section id="login" class="card">
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert-notification field-error">
            @ViewBag.ErrorMessage
        </div>
    }

    <div class="card-header">
        <h1>@ViewData["Title"]</h1>
    </div>

    @{
        var googleButtonModel = new ButtonViewModel
        {
            Text = "Login with Google",
            Icon = "<img src=\"/images/icons/Google.svg\" alt=\"Google\" />",
            Variant = "secondary",
        };
    }
    <partial name="Partials/Components/ui/_Button" model="googleButtonModel" />

    <div class="divider">
        <span>OR</span>
    </div>

    <div class="card-body">
        <form asp-controller="Auth" asp-action="Login" method="post" class="auth-form" novalidate>
            <input type="hidden" name="returnUrl"
                value="@(string.IsNullOrEmpty(ViewBag.ReturnUrl) ? "/admin/dashboard" : ViewBag.ReturnUrl)" />

            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" placeholder="Your email address" autocomplete="username" />
                <span asp-validation-for="Email" class="field-error"></span>
            </div>

            <div class="form-group password-group">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" type="password" placeholder="Enter your password" autocomplete="current-password" />
                <span class="password-toggle">
                    <i class="fa-sharp-duotone fa-solid fa-eye-slash"></i>
                </span>
                <span asp-validation-for="Password" class="field-error"></span>
            </div>

            <div class="form-options">
                <label class="remember-me">
                    <input asp-for="RememberMe" type="checkbox" />
                    <span>Remember Me</span>
                </label>
                <a href="#" class="forgot-password">Forgot Password?</a>
            </div>

            @{
                var loginButtonModel = new ButtonViewModel
                {
                    Text = "Log In",
                    IsSubmit = true,
                    Variant = "primary",
                };
            }

            <partial name="Partials/Components/ui/_Button" model="loginButtonModel" />
        </form>
    </div>

    <div class="card-footer">
        <span>Don't have an account?</span>
        <a asp-controller="Auth" asp-action="SignUp">Sign Up</a>
    </div>
</section>

