@model AddMembersViewModel

@{
  const string modalId = "addmembermodal";
}

<section id="@modalId" class="modal">
  <div class="form-modal-wrapper">
    <div class="form-modal-content">
      <div class="form-modal-header">
        <h3>Add Member</h3>
        <button type="button" class="form-modal-close" data-close="true" data-target="#@modalId">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>

      <div class="form-modal-body">
        <form asp-controller="Users" asp-action="AddMember" method="post" enctype="multipart/form-data" novalidate
          id="memberForm" data-id="add">
          @Html.AntiForgeryToken()
          <div asp-validation-summary="ModelOnly" class="text-danger"></div>

          <!-- Member Image -->
          <div class="form-group">
            <label class="form-label hide" asp-for="ImageFile"></label>
            <div class="image-preview-container shape-round" data-file-upload>
              <img class="hide" alt="Member preview" />
              <div class="circle circle-gray upload-overlay">
                <i class="fa-duotone fa-solid fa-camera"></i>
              </div>
              <input asp-for="ImageFile" accept="image/*" autocomplete="off" />
            </div>
            <span class="field-error" data-valmsg-for="ImageFile"></span>
          </div>

          <div class="form-column">
            <!-- First Name -->
            <div class="form-group half">
              <label class="form-label" asp-for="FirstName"></label>
              <input asp-for="FirstName" class="form-input" autocomplete="off" />
              <span class="field-error" data-valmsg-for="FirstName"></span>
            </div>

            <!-- Last Name -->
            <div class="form-group half">
              <label class="form-label" asp-for="LastName"></label>
              <input asp-for="LastName" class="form-input" autocomplete="off" />
              <span class="field-error" data-valmsg-for="LastName"></span>
            </div>
          </div>

          <div class="form-column">
            <!-- Email -->
            <div class="form-group half">
              <label class="form-label" asp-for="Email"></label>
              <input asp-for="Email" class="form-input" autocomplete="off" />
              <span class="field-error" data-valmsg-for="Email"></span>
            </div>

            <!-- PhoneNumber -->
            <div class="form-group half">
              <label class="form-label" asp-for="PhoneNumber">Phone</label>
              <input asp-for="PhoneNumber" class="form-input" autocomplete="off" />
              <span class="field-error" data-valmsg-for="PhoneNumber"></span>
            </div>
          </div>

          <!-- Job Title -->
          <div class="form-group">
            <label class="form-label" asp-for="JobTitle"></label>
            <input asp-for="JobTitle" class="form-input" autocomplete="off" />
            <span class="field-error" data-valmsg-for="JobTitle"></span>
          </div>

          <!-- Street StreetAddress -->
          <div class="form-group">
            <label class="form-label" asp-for="StreetAddress">StreetAddress</label>
            <input asp-for="StreetAddress" class="form-input" autocomplete="off" />
            <span class="field-error" data-valmsg-for="StreetStreetAddress"></span>
          </div>

          <div class="form-column">
            <!-- Postal Code -->
            <div class="form-group half">
              <label class="form-label" asp-for="PostalCode"></label>
              <input asp-for="PostalCode" class="form-input" autocomplete="off" />
              <span class="field-error" data-valmsg-for="PostalCode"></span>
            </div>

            <!-- City -->
            <div class="form-group half">
              <label class="form-label" asp-for="City"></label>
              <input asp-for="City" class="form-input" autocomplete="off" />
              <span class="field-error" data-valmsg-for="City"></span>
            </div>
          </div>

          <!-- Submit Button -->
          <div class="form-actions">
            @{
              var buttonModel = new ButtonViewModel
              {
                Text = "Add Member",
                IsSubmit = true,
                Variant = "primary"
              };
            }
            <partial name="Partials/Components/ui/_Button" model="@buttonModel" />
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
