@model string

<div id="deleteProjectModal-@Model" class="modal">
  <div class="form-modal-wrapper">
    <div class="form-modal-content">
      <div class="form-modal-header">
        <h3>Delete Project</h3>
        <button type="button" class="form-modal-close" data-close="true" data-target="#deleteProjectModal-@Model">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <div class="form-modal-body">
        <p>Are you sure you want to delete this project? This action cannot be undone.</p>
      </div>
      <div class="form-modal-footer">
        <button type="button" class="base-button secondary-button" data-close="true" data-target="#deleteProjectModal-@Model">
          Cancel
        </button>
        <button type="button" class="base-button primary-button" onclick="deleteProject('@Model')">
          Delete
        </button>
      </div>
    </div>
  </div>
</div> 