@model EditProjectViewModel

<div id="editProjectModal" class="modal">
  <div class="form-modal-wrapper">
    <div class="form-modal-content">
      <div class="form-modal-header">
        <h3>Edit Project</h3>
        <button type="button" class="form-modal-close" data-close="true" data-target="#editProjectModal">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      
    </div>
  </div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    initWysiwygEditor(
      '#edit-project-description-editor', 
      '#edit-project-description-toolbar', 
      '#Description', 
      '@Html.Raw(Model?.Description ?? "")');
  });
</script>