@model AddClientsViewModel

<div id="editClientModal" class="modal">
    <div class="form-modal-content">
        <div class="form-modal-header">
            <h3>Edit Client</h3>
            <button type="button" class="form-modal-close" data-close="true" data-target="#editClientModal">
                <i class="fa-solid fa-xmark"></i>
            </button>
            
            
        </div>
    </div>
</div>