@model AddMembersViewModel

<div id="editMemberModal" class="modal">
    <div class="form-modal-dialog">
        <div class="form-modal-content">
            <div class="form-modal-header">
                <h3>Edit Member</h3>
                <button type="button" class="form-modal-close" data-close="true" data-target="#editMemberModal">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            
        </div>
    </div>
</div>