@model MemberDropdownViewModel
@{
    Layout = null;
}

<button class="dropdown-toggle" data-window="dropdown" data-target="member-dropdown-@Model.Id" aria-label="Member menu" aria-haspopup="true" aria-expanded="false">
    <span class="dots"></span>
</button>

@{
    var dropdownModel = new DropdownWindowViewModel
    {
        Items =
        [
            new DropdownItemViewModel
            {
                Icon = "fa-duotone fa-solid fa-pencil",
                Text = "Edit Member",
                OnClick = $"window.dispatchEvent(new CustomEvent('openModal', {{ detail: {{ modalId: 'editMemberModal', id: '{Model.Id}' }} }}))",
                HasDivider = false
            },
            new DropdownItemViewModel
            {
                Icon = "fa-duotone fa-solid fa-shield-check",
                Text = "Admin Access",
                AdditionalContent = $@"<label class=""switch""><input type=""checkbox"" onchange=""toggleAdminRole('{Model.Id}', 
                this.checked)"" {(Model.IsAdmin ? "checked" : "")} /><span class=""slider""></span></label>",
                HasDivider = true
            },
            new DropdownItemViewModel
            {
                Icon = "fa-duotone fa-solid fa-trash-can",
                Text = "Delete Member",
                OnClick = $"window.dispatchEvent(new CustomEvent('openModal', {{ detail: {{ modalId: 'deleteMemberModal-{Model.Id}' }} }}))",
                IsDanger = true
            }
        ]
    };
}

<partial name="Partials/Components/UI/_DropdownWindow" model="@dropdownModel" data-for="member-dropdown-@Model.Id" />