@model ProfileDropdownViewModel
@{
    Layout = null;
}

<button id="profile-dropdown-button" class="dropdown-toggle user-profile-btn" data-window="dropdown"
    data-target="profile-dropdown" aria-label="User Profile" aria-haspopup="true" aria-expanded="false">
    <img src="@Model.AvatarUrl" alt="User avatar" />
</button>
@{
    var dropdownModel = new DropdownWindowViewModel
    {
        Items = 
        [
            // Profile info
            new DropdownItemViewModel
            {
                Content = $"<span>{Model.DisplayName}</span><img src=\"{Model.AvatarUrl}\" alt=\"{Model.DisplayName}\" class=\"profile-avatar\" />"
            },
            
            // Profile settings
            new DropdownItemViewModel
            {
                Icon = "fa-duotone fa-solid fa-user",
                Text = "Profile",
                OnClick = "window.location.href='/admin/profile'",
                AdditionalContent = "<i class=\"fa-duotone fa-solid fa-gear settings-icon\"></i>",
            },
            
            // Theme toggle
            new DropdownItemViewModel
            {
                Content = @"<div class=""theme-menu-item"">
                    <i class=""fa-duotone fa-solid fa-moon dark-icon""></i>
                    <i class=""fa-duotone fa-solid fa-sun light-icon""></i>
                    <span class=""theme-text"">
                        <span class=""dark-text"">Dark Mode</span>
                        <span class=""light-text"">Light Mode</span>
                    </span>
                    <label class=""switch"">
                        <input type=""checkbox"" id=""darkModeToggle"" " + (Model.IsDarkMode ? "checked" : "") + @" />
                        <span class=""slider""></span>
                    </label>
                </div>",
                HasDivider = true
            },
            
            // Logout
            new DropdownItemViewModel
            {
                Content = $"<i class=\"fa-duotone fa-solid fa-right-from-bracket\"></i><span>Logout</span>",
                HtmlAttributes = $"onclick=\"window.location.href='{Model.LogoutUrl}'\"",
                IsDanger = true
            },

        
        ]
    };
}

<partial name="Partials/Components/UI/_DropdownWindow" model="@dropdownModel" data-for="profile-dropdown" />