<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@(ViewData["Title"] == null ? "Alpha" : ViewData["Title"] + " - Alpha")</title>

    <!-- External Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.7/signalr.min.js"
        integrity="sha512-7SRCYIJtR6F8ocwW7UxW6wGKqbSyqREDbfCORCbGLatU0iugBLwyOXpzhkPyHIFdBO0K2VCu57fvP2Twgx1o2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://kit.fontawesome.com/a576612222.css" crossorigin="anonymous">

    <!-- Core CSS -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.bundle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/mediaqueries.css" asp-append-version="true" />
    
    @await RenderSectionAsync("Styles", required: false)
</head>
    <body data-theme="light">
        <!-- Mobile Menu -->
        <div class="mobile-menu">
            <div class="mobile-menu-content">
                <partial name="Partials/Components/Sidebar/_LogoTypeLink" />
                <partial name="Partials/Components/Sidebar/_NavLinks" />
            </div>
        </div>

        <!-- Mobile Menu Overlay -->
        <div class="mobile-menu-overlay"></div>

        <!-- Theme Toggle -->
        <div class="theme-toggle">
            <i class="fa-duotone fa-solid fa-sun-bright light-icon"></i>
            <i class="fa-duotone fa-solid fa-moon-stars dark-icon"></i>
        </div>

        <div class="alpha-wrapper">
            <!-- Sidebar -->
            <aside class="sidebar">
                <partial name="Partials/Components/Sidebar/_LogoTypeLink" />
                <partial name="Partials/Components/Sidebar/_NavLinks" />

                <!-- Sidebar Resizer -->
                <div class="sidebar-resizer" title="click to resize"></div>
            </aside>

            <!-- Header -->
            <header class="header">
                <partial name="Partials/Components/Header/_Header" />
            </header>

            <main class="main-content">
                @RenderBody()
            </main>
        </div>

        <script src="~/js/windowManager.js" asp-append-version="true"></script>
        <script src="~/js/notifications.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/tags.js" asp-append-version="true"></script>
        <script src="~/js/theme.js" asp-append-version="true"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
