@model TabFilterViewModel

<div class="projects-tabs">
  @foreach (var tab in Model.Tabs)
  {
    <div class="tab @(tab.IsActive ? "active" : "")" data-status="@tab.Text.ToUpper()" role="button">
      @tab.Text
      <span class="count">[@tab.Count]</span>
    </div>
  }
</div>